.App{
    height: 90vh;
    width: 100vh;
  background-color: rgb(218, 129, 213);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 30px auto;
    border-radius: 20px;
    padding-top: 20px;
    


}

